body{
  margin: 0;
  padding: 0;
  font-family: 'MavenPro-Medium';
}

#banner{
  height: 200px;
  width: 100%;
  background: url('../other/img/black.jpg');
  margin-bottom: 5%;
}

section{
  width: 70%;
  margin: auto;
}

button{
  font-size: 1vw;
  color: #F1A42D;
  background-color: transparent;
  border: solid 2px #F1A42D;
  border-radius: 10px;
  padding: 10px;
  font-family: 'MavenPro-Medium';
  transition: 0.75s opacity;
}

button:hover{
  color: #AFAFAF;
  border: solid 2px #AFAFAF;
  cursor: pointer;
}
