body{
  margin: 0;
  padding: 0;
  font-family: 'MavenPro-Medium';
  font-size: 1.1vw;
}

#banner{
    font-family: 'MavenPro-Medium';
    transition: 1.5s;
}

#presentacion{
  text-align: center;
  color: white;
  font-size: 1.5vw;
  position: relative;
  top:30%;
}

#presentacion h1{
transition: 0.75s opacity;
}

#presentacion p{
transition: 0.75s opacity;
}

#presentacion input{
  font-size: 1.5vw;
  color: white;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 10px;
  padding: 10px;
  font-family: 'MavenPro-Medium';
  transition: 0.75s opacity;
}

#presentacion input:hover{
  color: #F1A42D;
  border: solid 2px #F1A42D;
  cursor: pointer;
}
#presentacion input:focus{
  outline:0px;
}

#photo{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  background: url('../other/img/people.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.capa-gradiente{
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to right,black,#9C640C);
  opacity: 0.5;
}

section{
  margin-top: 3%;
}

section h2{
  text-align: center;
  font-size: 2vw;
}

.ahora{
  display: flex;
  flex-direction: row;
}

article{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

article img{
  width: 35vw;
  height: 50vh;
  padding: 10px;
}

#historia{
  font-style: oblique;
  font-size: 1vw;
}

#vacio{
  width: 50px;
}

.informacion{
  width: 50%;
  display: flex;
 justify-content: center;
 flex-direction: column;
}

#mapa{
  width: 400px;
  height: 300px;
}


#caracteristicas{
  display: flex;
  flex-direction: column;
    margin-bottom: 4%;
}

.lista{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.docente{
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  list-style:  none;
  text-align: justify;
}

.docente li{
  margin-bottom: 5px;
}

ul span{
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
}

#titulogaleria{
background: url('../other/img/gallery.jpg');
background-attachment: fixed;
width: 100%;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
}

#titulogaleria h2{
  font-size: 2vw;
  color: white;
}

#galeria{
  margin-top: 8%;
  margin-left: 21%;
  margin-bottom: 8%;
}

#galeria img{
  width: 300px;
  height: 200px;
}

footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 0;
  height: 150px;
  background-color: #2C2C2C;
}

footer ul{
    margin-right: 5%;
}

#rrssTwitter{
  color: 	#B3B3B3;
  transition: 1s;
}

#rrssTwitter:hover{
  color: #1dcaff;
  transform: scaleY(1.2) scaleX(1.2);
}

#rrssFacebook{
  color: 	#B3B3B3;
  transition: 1s;
}

#rrssFacebook:hover{
  color: #4F79F1;
  transform: scaleY(1.2) scaleX(1.2);
}

#rrssGoogle{
  color: 	#B3B3B3;
  transition: 1s;
}

#rrssGoogle:hover{
  color: #E73939;
  transform: scaleY(1.2) scaleX(1.2);
}
