html {
  margin: 0;
  padding: 0;

}
body{
  height:100%;
  width:100%;
  background: url('../other/img/school.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@font-face {
  font-family: 'GloriaHallelujah';
  src: url('../other/fonts/GloriaHallelujah.ttf');
}

/*  Titulo  */

h1{
  margin-top: 22%;
  font-size: 3vw;
  text-align: center;
  color: #E6E6E6;
  font-family: 'GloriaHallelujah';
}
