@font-face {
  font-family: 'Signika-Light';
  src: url('../other/fonts/Signika-Light.ttf');
}

@font-face {
  font-family: 'Signika-Bold';
  src: url('../other/fonts/Signika-Bold.ttf');
}

#aviso{
  display: none;
  color: red;
}

body{
  background-image: url('../other/img/class.jpg');
}

nav{
  background-color: #2C2C2C;
    opacity: 0.8;
}

form{
  padding: 15px;
  border-radius: 10px;
  background-color: #DCDBDB;
  display: flex;
  width: 25%;
  margin: auto;
  text-align: center;
  align-content:center;
  justify-content: center;
  flex-direction: column;margin-top: 18%;
  font-family:'Signika-Light';
  opacity: 0.6;
}

legend{
  font-size: 4vh;
  font-family:'Signika-Bold';
}

input{
  padding-left: 5px;
  border-radius: 5px;
  margin: 3px;
  position: relative;
  border: none;
  border-bottom: solid 2px #C9CACB;
  width: 100%;
  height: 5vh;
  font-size: 2vh;
}

input:first{
  margin-bottom: 20px;
}

input:focus{
  outline:0px;
  border-bottom: solid 2px #F1A42D;
  transition: all 0.5s;
  opacity: 1;
}

button{
  width: 100%;
  height: 3vh;
  margin-top: 20px;
  background-color: #DCDBDB;
  border: solid 2px #F1A42D;
  border-radius: 10px;
  color: #F1A42D;
  transition: 0.5s;
  border-radius: 10px;
}

#formregis{
  display: none;
}


button:hover{
  border: none;
  background-color: #F1A42D;
  color: white;
  border: solid 2px #F1A42D;
  border-radius: 10px;
  animation: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

#mensaje{
  position: fixed;
  opacity: 0;
  background-color: #F48282;
  color: #FC0101;
  font-family: 'Signika-Bold';
  border-top: solid 2px #FC0101;
  bottom: 0;
  width: 100%;
  text-align: center;
  transition: 1s;
}
